{
  "tabWidth": 2,
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^types$",
    "^shared/types",
    "^shared/lib",
    "^shared/api",
    "^shared/ui",
    "^widgets",
    "^shared/styles/(.*)$",
    "^[./]"
  ],

  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
